<div class="container">
  <form>
    <div class="form-group"><h1 class="text-center text-primary">Todo App</h1>
      <div class="input-group-prepend">
        <input #todo type="text" class="form-control" placeholder="Add Todo" name="todo" ngModel="">
        <span class="input-group-text" (click)="addTodo(todo.value)">Add</span>
      </div>

      <div class="data">
        <ul class="list-instyled">
          <li *ngFor="let todo of todoArray">{{todo}}</li>
        </ul>
      </div>
    </div>
  </form>
</div>
